# SPDX-FileCopyrightText: 2021 8tronix GmbH, Forschungs- und Entwicklungszentrum Fachhochschule Kiel GmbH
#
# SPDX-License-Identifier: CC0-1.0

pytest==7.0.0
pytest-mock==3.7.0
pytest-timeout==2.0.1
pyserial==3.5b0
